@model IEnumerable<E_Commerce_Imovel.Models.Domicilio>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sobre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Publicacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Estado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Caracteristica)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Preco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sobre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Publicacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Estado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cidade)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Caracteristica.CaracteristicaId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DomicilioId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DomicilioId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DomicilioId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
